@forward "root";
@forward "reset";
@forward "buttons";
@forward "cards";

/* frontend-mentor */
.attribution {
	font-size: 0.875rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
